*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  letter-spacing: 0.25rem;
}

body {
  /* background-color: #16162d; */
  background-color: white;
  /* background: linear-gradient(to top, #ffe838, #fd57bf); */
  font-family: "Poppins";
}

img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img:not(.logo__img) {
  width: 100%;
  display: block;
}

.section__center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
/* nav */
.nav {
  height: 5rem;
}

.logo__img {
  width: 5rem;
}

.nav {
  width: 90vw;
  margin: auto;
  max-width: 1170px;
}

.nav__first__child {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-top: 1rem;
}

.nav__links {
  display: none;
}
.hamburger {
  color: #f2b707;
  font-size: 1.7rem;
  padding: 0 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav__links {
    display: block;
  }
  .nav {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__links a {
    padding: 0 1rem;
    color: #f2b707;
    font-weight: bold;
  }
  .nav__links a:hover {
    color: #444243;
  }
  .logo__img {
    margin: 0 1rem;
  }
}

/* end of nav */

/* hero section */
.hero__content {
  margin: 2rem 0;
}

.section__hero {
  /* background: #d8d8d8; */
  background: hsl(210, 36%, 96%);
}
.hero__section {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.underline {
  width: 20vw;
  height: 0.5vh;
  background-color: #f2b707;
  margin-bottom: 1rem;
}

.hero__content h1 {
  font-size: 2rem;
  color: #f2b707;
  padding-bottom: 1rem;
}

.hero__content h5 {
  color: #f2b707;
  letter-spacing: 0.25rem;
  padding-bottom: 1rem;
}

.hero__content button {
  padding: 0.3rem 0.5rem;
  color: #444243;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins";
  cursor: pointer;
  background: #f2b707;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.socials {
  margin: 2rem 0;
  font-size: 1.8rem;
  color: #f2b707;
}

.socials i {
  padding-right: 2rem;
}

.hero__image__container {
  display: none;
}

@media screen and (min-width: 768px) {
  .section__center {
    width: 95vw;
  }
  .hero__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .hero__image__container {
    display: block;
    position: relative;
  }

  .hero__image {
    border-radius: 0.5rem;
    position: relative;
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
  }
  .hero__image::before {
    content: "Manikanta";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid black;
    top: 2rem;
    right: -2rem;
    border-radius: 0.5rem;
  }
  .hero__content h1 {
    font-size: 4rem;
  }
  .underline {
    width: 10vw;
  }
}

/* about section */

.about__section {
  padding: 5rem 0;
}

.about__content {
  padding: 3rem 0;
}

.about__content h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.about__content p {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.img__container img {
  border-radius: 0.5rem;
}

.about__btn {
  letter-spacing: 0.25rem;
  background: #f2b707;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  color: black;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about__center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img__container {
    max-width: 25rem;

    justify-self: center;
    object-fit: cover;
  }
  .img__container img {
    border-radius: 0.5rem;
  }
  .underline {
    width: 10rem;
  }
  .about__content p {
    padding-bottom: 1rem;
  }
  .about__btn {
    letter-spacing: 0.25rem;
    background: #f2b707;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.services__section {
  background: hsl(210, 36%, 96%);
  padding: 5rem 0;
}
.services__section h1 {
  text-align: center;
}

.service {
  background: white;
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.icon__service {
  font-size: 2rem;
  font-weight: 900;
  padding: 2rem 0;
}

.service h4 {
  font-weight: 800;
  padding-bottom: 1rem;
}
.small__underline {
  width: 5rem;
  height: 0.2rem;
  background: #f2b707;
  margin: auto;
}

.service p {
  font-size: 0.8rem;
  padding: 1rem 1rem;
}
.service__underline {
  width: 20vw;
  height: 0.5vh;
  background-color: #f2b707;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .section__center {
    width: 95vw;
  }
  .service__center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .service {
    margin-top: 1rem;
  }
  .service__center h1 {
    font-size: 2rem;
  }
  .service__center p {
    padding-bottom: 2rem;
  }
  .service__underline {
    width: 10vw;
  }
}

.skills__section {
  padding: 5rem 0;
}
.skills__section h1 {
  text-align: center;
}

.skills__center h3 {
  margin: 1.5rem 0;
}

.skill {
  margin-bottom: 1.25rem;
}

.skill__container {
  background: #f4f4f4;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.skill__value {
  position: absolute;
  top: 0;
  left: 0;
  background: #f2b707;
  height: 100%;
  width: 60%;
  border-radius: 0.5rem;
}
.skill__text {
  position: absolute;
  top: -2rem;
  left: 50%;
  translate: translateX(-50%);
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.value-70 {
  width: 70%;
}

.value-50 {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .skills__center {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
  }
  .skill__container {
    width: 70%;
  }
}

.timeline__section {
  background: hsl(210, 36%, 96%);
  padding: 5rem 0;
}
.timeline__section h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.timeline__underline {
  width: 5rem;
  height: 0.2rem;
  background: #f2b707;
  margin: auto;
}

.timeline__center {
  width: 80vw;
  max-width: 40rem;
}

.timeline__item {
  border-top: 2px dashed #f2b707;
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}
.timeline__item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}

.timeline__item:nth-child(odd) {
  border-right: 2px dashed #f2b707;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline__item:nth-child(even) {
  border-left: 2px dashed #f2b707;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: #f2b707;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.timeline__item:nth-child(odd) .number {
  right: 0;
  transform: translate(50%, -50%);
}

.timeline__item:nth-child(even) .number {
  left: 0;
  transform: translate(-50%, -50%);
}

.timeline__item p {
  margin-top: 1rem;
}

.footer__section {
  padding: 5rem 0;
  background: black;
}

.footer__icons {
  font-size: 1.7rem;
  text-align: center;
}

.footer__icons i {
  padding: 0 1rem;
  cursor: pointer;
  color: #f2b707;
}
.footer__icons i:hover {
  color: #444243;
}

.footer__section p {
  margin-top: 1rem;
  text-align: center;
  color: gray;
}

.works__section {
  padding: 5rem 0;
}

.works__section h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}
.works__underline {
  width: 5rem;
  height: 0.2rem;
  background: #f2b707;
  margin: auto;
}

.button_container {
  text-align: center;
  margin: 1rem 0;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: #444243;
  background: #f2b707;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

/* .card__container {
  width: 90vw;
  margin: 1rem auto;
} */
.card {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .section__center {
    width: 95vw;
  }
  .card__container {
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
}
